:root {
    --primary: #39A9DB;
    --warning: #F9DC5C;
    --danger: #E84855;
    --success: #ABE188;
    --white: #fdfdfd;
    --dark: #181717;
};
.btn{
    display:inline-block;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    
};
.btn-primary-outline {
    background-color: transparent;
    border: 2px solid var(--primary);
    color: var(--primary);
}
.btn-primary-solid {
    background-color: var(--primary);
    color: var(--white);
    border: none;
};
.btn-success-solid {
    background-color: var(--success);
    color: var(--white);
    border: none;
};
.btn-danger-outline {
    background-color: transparent;
    border: 2px solid var(--danger);
    color: var(--danger);
}
.btn-warning-solid {
    background-color: var(--warning);
    color: var(--dark);
    border: none;
}
.btn-danger-solid {
    background-color: var(--danger);
    color: var(--white);
    border: none;
}
.btn-success-outline {
    background-color: transparent;
    border: 2px solid var(--success);
    color: var(--success);
}
.btn-warning-outline {
    background-color: transparent;
    border: 2px solid var(--warning);
    color: var(--warning);
}
// BUTTON SIZES
.btn-large {
    padding: 15px 30px;
    font-size: 20px;
}
.btn-medium {
    padding: 10px 20px;
    font-size: 18px;
}