.drop-down {
   position: absolute;
   top:200px;
   width:30px;
  background-color: #3b776c;
 }

.clicked{
display:none;
  }
.list-item a{

  color:brown;
}
.drop{
  height:100px;
  width:fit-content;
}